{% extends "layout.html" %}

{% block content %}
    <br>
    <h2>Catégorie : {{ categorie }}</h2>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 g-3">
                {% for prod in produits %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong>{{ prod.nom_produit }}</strong><br>
                                    Prix : {{ prod.prix }} €<br>
                                    {{ prod.description }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}